extends tex

snippet note_basic "Anki note: Basic model" b
# Basic note
model: Basic
tags: $1

## Front
**${2:$1}**

$3

## Back
$0

endsnippet

snippet myheader "My name in header" b
---
header-includes: |
	\usepackage{fancyhdr}
	\pagestyle{fancy}
	\fancyhead[R]{Ben Miller}
	\fancyhead[L]{`!v strftime("%c")`}
---

$0
endsnippet

snippet /\*\*/ "bold" riA
**$1**$0
endsnippet
